* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #EFEFF1;
}

body {
    display: grid;
    position: relative;
    grid-template-rows: 50px auto;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
    "nav nav"
    "aside main"
    ;
    background-color: #0E0E10;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #18181B;
    align-items: center;
    grid-area: nav;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    gap: 35px;
    z-index: 20;
    box-shadow: 0 0 3px 1px #000;
}

nav .more-options,
nav .login-account {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon-container {
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
}

.icon-container i {
    position: relative;
    top: 2px;
}
.icon-container, .fa-right-to-bracket {
    display: none;
}

.icon-container:hover {
    background-color: #393939;
    cursor: pointer;
}

nav .search {
    display: none;
}

nav .more-options {
    display: flex;
    gap: 30px;
}

nav .more-options .explore:hover {
    color: #b27eff;
}

nav p.explore {
    display: none;
}

nav .more-options img {
    height: 30px;
    width: auto;
}

nav button {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    color: #EFEFF1;
    cursor: pointer;
    white-space: nowrap;
}

nav button.login {
    background-color: #2d2d2d;
}

nav button.login:hover {
    background-color: #353535;
}

nav button.sign-up {
    background-color: rgb(145, 71, 255);
}

nav button.sign-up:hover {
    background-color: rgb(115, 51, 212);
}

aside {
    grid-area: aside;
    background-color: #1F1F23;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 10px 0px;
    container-type: size;
    container-name: aside;
}

aside .top-aside p {
    display: none;
}

aside .top-aside {
    display: none;
}

.channels-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.channel .channel-info{
    display: none;
}

@container aside (width > 200px) {

    .top-aside {
        display: flex;
        align-items: center;
        padding: 0 10px;
        width: 100%;
        justify-content: space-between;
        margin: 0 10px;
    }

    aside .top-aside p {
        display: inline;
        font-size: 13px;
        font-weight: 600;
    }

    i.fa-video {
        display: none;
    }

    i.fa-right-to-bracket {
        transform: rotate(180deg);
    }

    .channels-container {
        gap: 0px
    }
    
    .channel {
        display: flex;
        gap: 0;
        width: 100%;
        padding: 5px 0;
        cursor: pointer;
    }
    
    .channel:hover {
        background-color: #2d2d2d;
    }
    
    .pic-container {
        padding-left: 10px;
    }
    
    .channel .channel-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 10px;
    }
    
    .channel-info h4 {
        font-size: 15px;
        font-weight: 500;
    }

    .channel-info p {
        font-size: 13px;
        color: #acacac;
    }
    
    .channel-info p.viewers {
        color: #EFEFF1;
    }

    .viewers-container .live-dot {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: red;
        margin: 3px 6px;
    }

    .viewers-container{
        display: flex;
        height: min-content;
    }
}

aside .icon-container input {
    display: none;
}


main {
    grid-area: main;
    overflow: scroll;
    position: relative;
}

.preview-container {
    background-color: #0E0E10;
    position: relative;
    min-height: 340px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

section:not(.preview-container) {
    margin: 0 20px;
}

.preview{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 520px;
    height: 330px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.spectators {
    color: #EFEFF1;
}

.gradient {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.light {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    opacity: 0.4;
}

.gradient:hover {
    opacity: 0;
}

.arrows {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 20;
    pointer-events: none;
}

.arrow-left-container,
.arrow-right-container {
    pointer-events: auto;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0E0E10;
}

.arrow-left-container:hover,
.arrow-right-container:hover {
    background-color: rgba(150, 150, 150, 0.305);
}

.first-preview-container {
    transform: translate(-50%, -50%);
    overflow: hidden;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    height: 300px;
    z-index: 10;
}

.first-preview img,
.preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-preview {
    width: 520px;
    height: 100%;
    cursor: pointer;
}

.preview-overlay {
    width: 520px;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom,
    rgb(0, 0, 0, 1) 0%,
    transparent 15%,
    transparent 85%,
    rgb(0, 0, 0, 1) 100%);
    cursor: pointer;
}

.preview-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 3px;
}

.bottom-overlay-box {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

.overlay-box-ico {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.overlay-box-ico:hover {
    background-color: rgba(150, 150, 150, 0.305);
}

.overlay-left,
.overlay-right {
    display: flex;
    gap: 10px;
}

.onlive-overlay {
    background-color: #ea0000;
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 4px;
    margin: 6px;
    font-weight: 600;
}

#volume {
    display: none;
}

.overlay-left .volume-box:hover ~ #volume {
    display: block;
}

.preview-info {
    height: 100%;
    width: 220px;
    background-color: #18181B;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.first-box-info {
    display: flex;
    gap: 10px;
}

.rounded-info {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.rounded-info img {
    height: 100%;
}

.preview-info-right {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 4px;
}

.preview-info-right a {
    display: block;
    color: #b788fe;
    text-decoration: none;
}

.preview-info-right a:hover {
    text-decoration: underline;
    color: #9e5dff;
}

.channel-name {
    font-weight: 600;
}

.channel-viewers {
    font-size: 13px;
}

.second-box-info {
    display: flex;
    gap: 5px;
}

.info-tag {
    font-weight: 500;
    color: #c2c2c2;
    cursor: pointer;
    background-color: #393939;
    padding: 2px 10px;
    border-radius: 50px;
    font-size: 13px;
}

.info-tag:hover {
    background-color: #434343;
}

.second {
    transform: translate(-5%, -50%) scale(0.7);
}

.third {
    transform: translate(-15%, -50%) scale(0.8);
}

.fourth {
    transform: translate(-95%, -50%) scale(0.7);
}

.fifth {
    transform: translate(-85%, -50%) scale(0.8);
}

.second:hover {
    transform: translate(-5%, -50%) scale(0.75);
}

.third:hover {
    transform: translate(-15%, -50%) scale(0.85);
}

.fourth:hover {
    transform: translate(-95%, -50%) scale(0.75);
}
.fifth:hover {
    transform: translate(-85%, -50%) scale(0.85);
}

.preview-container div:not(.first-preview-container, .first-preview, .arrows, .arrow-left-container, .arrow-right-container ) {
    display: none;
}

h2 {
    color: #b27eff;
    font-size: 22px;
    margin: 10px 0;
}

.onlive-h2:hover,
.category-h2:hover {
    text-decoration: underline;
    color: #9e5dff;
}

h3 {
    color: #dddddd;
}

.on-live {
    grid-area: on-live;
}

.on-live h2 span{
    color: #EFEFF1;
}

.main-live-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
}

.live-container {
    margin-bottom: 30px;
    max-width: 500px;
}

.live-image-container {
    width: 293px;
    height: 170px;
}

.live {
    position: relative;
}

.live img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.live .top-container-live {
    transition: all 0.2s ease-in-out;
}

.live .top-container-live:hover {
    transform: translate(6px, -6px);
    box-shadow: -6px 6px 0px #b27eff;
}

.overlay-live {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.overlay-live .onlive-overlay {
    display: inline-block;
}

.overlay-viewers {
    margin: 15px 10px;
    background-color: rgba(0, 0, 0, 0.574);
    display: inline-block;
    padding: 2px;
    font-size: 14px;
}


.rounded-pic {
    border-radius: 100%;
    overflow: hidden;
    height: 42px;
    width: 42px;
}

.aside-pic {
    width: 32px;
    height: 32px;
}

.rounded-pic img {
    height: 100%;
    width: auto;
}

.info-container {
    display: flex;
    gap: 10px;
    padding-top: 6px;
}

.info-container p {
    font-size: 13px;
    margin-top: 6px;
    color: #acacac;
}

.live-info h3{
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;   
}

.live-info {
    overflow: hidden; 
}

.live-info p, h3, .rounded-pic  {
    cursor: pointer;
}

.tags {
    display: flex;
    gap: 8px;
}

.tag {
    background-color: #2d2d2d;
    padding: 4px 10px;
    border-radius: 30px;
    color: #c2c2c2;
    font-weight: bold;
    cursor: pointer;
}

.live-info .topic:hover,
.live-info h3:hover {
    color: #9e5dff;
}

.tag:hover {
    background-color: #353535;
}

.container {
    display: flex;
    align-items: center; 
    width: 100%; 
}
  
.line {
    flex-grow: 1; 
    height: 1px; 
    background-color: #353535; 
}
  
.text {
    color: #b27eff;
    margin: 0 10px;
    padding: 5px 10px;
}

.text i {
    font-size: 13px;
    transform: rotate(180deg);
}

.text:hover {
    color: #EFEFF1;
    background-color: #353535;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.category-section {
    padding-bottom: 20px;
}

.main-category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 150px));
    justify-content: center;
}

.category-container {
    width: 140px;
}

.category-img-box {
    width: 100%;
    height: 190px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.category-img-box:hover {
    transform: translate(6px, -6px);
    box-shadow: -6px 6px 0px #f9dc00;
}

.category-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px 0;
    align-items: flex-start;
}

.category-title {
    font-size: 16px;
    cursor: pointer;
}

.category-title:hover {
    color: #9e5dff;
}

.category-viewers {
    font-size: 13px;
    color: #c2c2c2;
}

.category-info .info-tag {
    margin-top: 5px;
}

.on-live a,
.category-section a{
 text-decoration: none;
}

.general-categories {
    padding-bottom: 100px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.category-box {
    background-color: #451093;
    width: 345px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.category-box:hover {
    background-color: #5f347e;
}

.categories-title {
    color: #EFEFF1;
}

.right-categories-box{
    position: absolute;
    right: 20px;
    bottom: -20px;
}

footer {
    bottom: -14;
    background-color: #451093;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 19px;
    position: absolute;
    bottom: 0;
}

.left-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.bold {
    font-weight: 600;
}

.asset-footer img {
    height: 40px;
    width: auto;
}

.right-footer {
    margin-right: 60px;
}

.footer-button {
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 700;
    border: none;
}

main::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

main::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
}

.login-account div{
    display: flex;
}

.icon-container {
    display: flex;
}

.top-aside .icon-container {
    display: none;
}

@media only screen and (min-width: 768px) {

    nav .fa-copy {
        display: none;
    }

    nav p.explore {
        display: inline;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    nav .login-account div:nth-child(1) {
        display: none;
    }

    nav .search {
        display: flex;
        align-items: center;
        gap: 1px;
        width: 100%;
        max-width: 400px;
    }

    nav .search input {
        background-color: #18181B;
        width: 100%;
        border: 1px solid transparent;
        outline: 1px solid #696969;
        color: #EFEFF1;
        font-size: 15px;
        padding: 8px 7px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    
    nav .search input:hover {
        border: 1px solid #696969;
    }

    nav .search input:focus {
        outline: 3px solid #9e5dff;
        border: 1px solid #9e5dff;
        z-index: 1;
    }


    nav .search .search-icon {
        background-color: #2d2d2d;
        width: 38px;
        height: 37px;
        display: flex;
        justify-content: center;
        font-size: 50px;
        align-items: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        padding-top: 3px;
    }

    nav .search .search-icon i {
        font-size: 20px;
    }

    nav .search .search-icon:hover {
        background-color: #353535;
    }
}

@media only screen and (min-width: 816px) {

    .preview-container .first-preview-container .preview-info,
    .preview-container .first-preview-container div{
        display: flex;
    }

}

@media only screen and (min-width: 1100px) {

    .preview-container div:not(.first-preview-container, .first-preview-container div, .arrows div, .arrows) {
        display: block;
    }
    
    .second {
        transform: translate(-5%, -50%) scale(0.7);
    }
    
    .third {
        transform: translate(-15%, -50%) scale(0.8);
    }
    
    .fourth {
        transform: translate(-95%, -50%) scale(0.7);
    }
    
    .fifth {
        transform: translate(-85%, -50%) scale(0.8);
    }

    .second:hover {
        transform: translate(-5%, -50%) scale(0.75);
    }
    
    .third:hover {
        transform: translate(-15%, -50%) scale(0.85);
    }
    
    .fourth:hover {
        transform: translate(-95%, -50%) scale(0.75);
    }
    .fifth:hover {
        transform: translate(-85%, -50%) scale(0.85);
    }

}

@media only screen and (min-width: 1200px) {

    .second {
        transform: translate(0%, -50%) scale(0.7);
    }
    
    .third {
        transform: translate(-10%, -50%) scale(0.8);
    }
    
    .fourth {
        transform: translate(-100%, -50%) scale(0.7);
    }
    
    .fifth {
        transform: translate(-90%, -50%) scale(0.8);
    }

    .second:hover {
        transform: translate(0%, -50%) scale(0.75);
    }
    
    .third:hover {
        transform: translate(-10%, -50%) scale(0.85);
    }
    
    .fourth:hover {
        transform: translate(-100%, -50%) scale(0.75);
    }
    .fifth:hover {
        transform: translate(-90%, -50%) scale(0.85);
    }
    
    .icon-container .fa-right-to-bracket {
        top: 0;
        cursor: pointer;
        display: flex;
    }

    .top-aside .icon-container {
        display: flex;
    }
    
    body:has(aside .icon-container input:checked) {
        grid-template-columns: 240px 1fr;
    }

    aside .top-aside {
        display: flex;
    }

}

@media only screen and (min-width: 1300px) {

    .second {
        transform: translate(15%, -50%) scale(0.7);
    }
    
    .third {
        transform: translate(0%, -50%) scale(0.8);
    }
    
    .fourth {
        transform: translate(-115%, -50%) scale(0.7);
    }
    
    .fifth {
        transform: translate(-100%, -50%) scale(0.8);
    }

    .second:hover {
        transform: translate(15%, -50%) scale(0.75);
    }
    
    .third:hover {
        transform: translate(0%, -50%) scale(0.85);
    }
    
    .fourth:hover {
        transform: translate(-115%, -50%) scale(0.75);
    }
    .fifth:hover {
        transform: translate(-100%, -50%) scale(0.85);
    }
}

@media only screen and (min-width: 1440px) {

    nav .more-options .explore {
        font-size: 19px;
    }

    .second {
        transform: translate(35%, -50%) scale(0.7);
    }
    
    .third {
        transform: translate(15%, -50%) scale(0.8);
    }
    
    .fourth {
        transform: translate(-135%, -50%) scale(0.7);
    }
    
    .fifth {
        transform: translate(-115%, -50%) scale(0.8);
    }

    .second:hover {
        transform: translate(35%, -50%) scale(0.75);
    }
    
    .third:hover {
        transform: translate(15%, -50%) scale(0.85);
    }
    
    .fourth:hover {
        transform: translate(-135%, -50%) scale(0.75);
    }
    .fifth:hover {
        transform: translate(-115%, -50%) scale(0.85);
    }

}

@media only screen and (min-width: 1600px) {

    nav .more-options .explore {
        font-size: 19px;
    }

    .second {
        transform: translate(50%, -50%) scale(0.7);
    }
    
    .third {
        transform: translate(30%, -50%) scale(0.8);
    }
    
    .fourth {
        transform: translate(-150%, -50%) scale(0.7);
    }
    
    .fifth {
        transform: translate(-130%, -50%) scale(0.8);
    }

    .second:hover {
        transform: translate(50%, -50%) scale(0.75);
    }
    
    .third:hover {
        transform: translate(30%, -50%) scale(0.85);
    }
    
    .fourth:hover {
        transform: translate(-150%, -50%) scale(0.75);
    }
    .fifth:hover {
        transform: translate(-130%, -50%) scale(0.85);
    }
}

@media only screen and (min-width: 1800px) {
    .second {
        transform: translate(65%, -50%) scale(0.7);
    }
    
    .third {
        transform: translate(30%, -50%) scale(0.8);
    }
    
    .fourth {
        transform: translate(-165%, -50%) scale(0.7);
    }
    
    .fifth {
        transform: translate(-130%, -50%) scale(0.8);
    }

    .second:hover {
        transform: translate(65%, -50%) scale(0.75);
    }
    
    .third:hover {
        transform: translate(30%, -50%) scale(0.85);
    }
    
    .fourth:hover {
        transform: translate(-165%, -50%) scale(0.75);
    }
    .fifth:hover {
        transform: translate(-130%, -50%) scale(0.85);
    }
}



